<ng-container *ngIf="data$ | async as data"> 
  <apm-loading *ngIf="data.isLoading"></apm-loading>

  <apm-error-message 
    *ngIf="data.error"
    [message]="data.error"
  ></apm-error-message>

  <div *ngIf="data.feed">
    <div class="article-preview"
      *ngFor="let article of data.feed.articles">

        <div class="article-meta">
          <a [routerLink]="['profiles', article.author.username]">
            <img [src]="article.author.image" alt="Author image">
          </a>

          <div class="info">
            <a [routerLink]="['profiles', article.author.username]">
              {{ article.author.username }}
            </a>

            <span class="date"> {{ article.createdAt }} </span>
          </div>

          <div class="pull-xs-right">
            ADD TO FAVORITES
          </div>
        </div>

        <a class="preview-link"
          [routerLink]="['/articles', article.slug]">

          <h2> {{ article.title }} </h2>
          <p> {{ article.description }} </p>
          <span>Read more...</span>

          <apm-tag-list [tags]="article.tagList"></apm-tag-list>          
        </a>
    </div>
    <apm-pagination
      [total]="data.feed.articlesCount"
      [limit]="limit"
      [url]="baseUrl"
      [currentPage]="currentPage"
    ></apm-pagination>
  </div>

</ng-container>